/**
 * AvatarUI
 * @version: v2.0.1
 * @author:  Rocky(296456018@qq.com)
 * @date:    2013-04-25
 */

/*------ base start ------*/
html{ color:#404040; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0;}
body,button,input,select,textarea{ font:12px/1.5 tahoma,Helvetica,arial, \5b8b\4f53;}
input,select,textarea{ font-size:100%;}
table{ border-collapse:collapse; border-spacing:0;}
th{ text-align:inherit;}
caption,th { text-align:left; }
fieldset,img{ border:0;}
iframe{ display:block;}
ol,ul,li{ list-style:none;}
del{ text-decoration:line-through; }
h1,h2,h3,h4,h5,h6 { font-size:100%;}
q:before,q:after {content:'';}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom: -0.25em;}
pre,code,kbd,samp,tt{font-family:'Courier New',Courier,monospace;}
ins,a{ text-decoration:none;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{ zoom:1;}
.floatLeft, .floatRight{ display:inline;}
.floatLeft{ float:left;}
.floatRight{ float:right;}
/*------ base end ------*/


body{ background:#f2f2f2; font-family:tahoma; }
a{ color:#2285E0;}
a:hover{ color:#FF6600;}

.wrap{ width:1100px; margin:10px auto;}

.header{ height:50px; background: #0C2140 }
.headerCon{ width:1100px; height:50px; margin:0 auto;}
.header .logo{float:left; width:170px; height:50px; background: url(../images/logo.png)}

.header .nav{float:right; width:460px; margin-top:12px;}
.header .nav li{ float:left; height:28px; margin:0 10px; padding:0 10px; line-height:28px;  text-align:center; font-size: 14px;}
.header .nav li.active{-webkit-border-radius:4px; border-radius:4px; background:#F0A403;}
.header .nav li a{color:#fff;}
.header .nav li a:hover{color:#2285E0;}
.header .nav li.active a{color:#111;}

.leftMenu{ float:left; width:210px; padding:10px 5px; background: #fff; border:1px solid #DFDFDF; -webkit-border-radius:5px; border-radius:5px;}

.leftMenu dl{ margin-bottom:5px; border-bottom: 1px dashed #c8c8c8;}
.leftMenu dt{ padding:0 10px; line-height: 30px; font-size:14px; font-weight:bold;}
.leftMenu dd{ padding-left:15px;}
.leftMenu dd a{ display:block; padding:2px 0 5px; line-height:18px; }
.leftMenu dd a.click{ color:#FF6600;}

.leftMenu dl.active dt a{ color:#404040;}
.leftMenu dl.active dd{ display:block;}

.mainCon{ float:left; width:860px;  margin-left:5px; display: inline; padding:5px; background: #fff; border:1px solid #DFDFDF; -webkit-border-radius:5px; border-radius:5px;}
.mainCon .canDo{ padding:10px 15px;}
.mainCon .canDo li{ line-height:20px;}
.mainCon .canDo span{ color:#f60;}
.mainCon .fold{ float:right; position:relative; margin:-20px 15px 0 0; width:11px; height:11px; background:url(../images/fold.gif) center top no-repeat; font-size:0;}
.mainCon .folded{ background:url(../images/fold.gif) center -11px no-repeat;}
.mainCon .items{ margin-bottom:15px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.mainCon h2{ padding-left:10px; border-bottom:1px solid #ddd; font-size:14px; line-height:30px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.mainCon .itemsSelected{ background:#f8f8f8; border:1px solid #97d6ff;}
.mainCon .itemsSelected h2{ background:#F2F8FA;}
.mainCon .itemCon{ padding:10px;}

.footer{ width:1100px; height:40px; margin:20px auto 0; border-top:1px solid #ccc; line-height:40px; color: #aaa; text-align:center; }

/* 返回顶部 */
.backToTop{ display: none; position:fixed; _position:absolute; left:50%; bottom:40px; width:50px; height:50px;
	margin-left:555px;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	_margin-bottom:40px;
	opacity:.6; filter:Alpha(opacity=60);
	background: url(../images/back_top_bg.png) center center no-repeat #8ab6e4
}
.backToTop:hover{opacity:.9; filter:Alpha(opacity=90);}


/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.1.382 (June 24 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/copyleft/lesser.html>.
 */
.syntaxhighlighter,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody
{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  background: none !important;
  text-align: left !important;
  float: none !important;
  vertical-align: baseline !important;
  position: static !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  height: auto !important;
  width: auto !important;
  line-height: 18px !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important; /* For IE8, FF & WebKit */
  min-height: auto !important; /* For IE7 */
}

.syntaxhighlighter
{
  width: 99% !important; /* 99% fixes IE8 horizontal scrollbar */
  margin: 1em 0 1em 0 !important;
  padding: 1px !important; /* adds a little border on top and bottom */
  position: relative !important;
}

.syntaxhighlighter .bold 
{
  font-weight: bold !important;
}

.syntaxhighlighter .italic 
{
  font-style: italic !important;
}

.syntaxhighlighter .line
{
}

.syntaxhighlighter .no-wrap .line .content
{
  white-space: pre !important;
}

.syntaxhighlighter .line table 
{
  border-collapse: collapse !important;
}

.syntaxhighlighter .line td
{
  vertical-align: top !important;
}

.syntaxhighlighter .line .number
{
  width: 2em !important;
}

.syntaxhighlighter .line .number code
{
  width: 2em !important;
  padding-right: .3em !important;
  text-align: right !important;
  display: block !important;
}

.syntaxhighlighter .line .content
{
  padding-left: .5em !important;
}

.syntaxhighlighter .line .spaces
{
}

/* Disable border and margin on the lines when no gutter option is set */
.syntaxhighlighter.nogutter .line .content
{
  border-left: none !important;
}

.syntaxhighlighter .bar
{
  display: none !important;
}

.syntaxhighlighter .bar.show 
{
  display: block !important;
}

.syntaxhighlighter.collapsed .bar
{
  display: block !important;
}

/* Adjust some properties when collapsed */

.syntaxhighlighter.collapsed .lines
{
  display: none !important;
}

.syntaxhighlighter .lines.no-wrap
{
  overflow: auto !important;
  overflow-y: hidden !important;
}

/* Styles for the toolbar */

.syntaxhighlighter .toolbar
{
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  font-size: 1px !important;
  padding: 8px 8px 8px 0 !important; /* in px because images don't scale with ems */
}

.syntaxhighlighter.collapsed .toolbar
{
  font-size: 80% !important;
  padding: .2em 0 .5em .5em !important;
  position: static !important;
}

.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item
{
  display: block !important;
  float: left !important;
  margin-left: 8px !important;
  background-repeat: no-repeat !important;
  overflow: hidden !important;
  text-indent: -5000px !important;
}

.syntaxhighlighter.collapsed .toolbar .item
{
  display: none !important;
}

.syntaxhighlighter.collapsed .toolbar .item.expandSource
{
  background-image: url(magnifier.png) !important;
  display: inline !important;
  text-indent: 0 !important;
  width: auto !important;
  float: none !important;
  height: 16px !important;
  padding-left: 20px !important;
}

.syntaxhighlighter .toolbar .item.viewSource
{
  background-image: url(page_white_code.png) !important;
}

.syntaxhighlighter .toolbar .item.printSource
{
  background-image: url(printer.png) !important;
}

.syntaxhighlighter .toolbar .item.copyToClipboard
{
  text-indent: 0 !important;
  background: none !important;
  overflow: visible !important;
}

.syntaxhighlighter .toolbar .item.about
{
  background-image: url(help.png) !important;
}

/** 
 * Print view.
 * Colors are based on the default theme without background.
 */

.syntaxhighlighter.printing,
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content,
{
  background: none !important;
}

/* Gutter line numbers */
.syntaxhighlighter.printing .line .number
{
  color: #bbb !important;
}

/* Add border to the lines */
.syntaxhighlighter.printing .line .content
{
  color: #000 !important;
}

/* Toolbar when visible */
.syntaxhighlighter.printing .toolbar
{
  display: none !important;
}

.syntaxhighlighter.printing a
{
  text-decoration: none !important;
}

.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a
{ 
  color: #000 !important;
}

.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a
{ 
  color: #008200 !important;
}

.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a
{
  color: blue !important; 
}

.syntaxhighlighter.printing .keyword
{ 
  color: #069 !important; 
  font-weight: bold !important; 
}

.syntaxhighlighter.printing .preprocessor 
{ 
  color: gray !important; 
}

.syntaxhighlighter.printing .variable 
{ 
  color: #a70 !important; 
}

.syntaxhighlighter.printing .value
{ 
  color: #090 !important; 
}

.syntaxhighlighter.printing .functions
{ 
  color: #ff1493 !important; 
}

.syntaxhighlighter.printing .constants
{ 
  color: #0066CC !important; 
}

.syntaxhighlighter.printing .script
{
  font-weight: bold !important;
}

.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a
{ 
  color: #808080 !important; 
}

.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a
{ 
  color: #ff1493 !important; 
}

.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a
{ 
  color: red !important; 
}


/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.1.382 (June 24 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/copyleft/lesser.html>.
 */
/************************************
 * Default Syntax Highlighter theme.
 * 
 * Interface elements.
 ************************************/

.syntaxhighlighter
{
  border-left:3px solid #6CE26C !important;
  background-color: #fafafa !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number
{
  color: black !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2
{
  background-color: #e0e0e0 !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
  color: #afafaf !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
  border-left: 3px solid #6CE26C !important;
  color: #000 !important;
}

.syntaxhighlighter.printing .line .content 
{
  border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1
{
  background-color: #fafafa !important;
}

/* Second line */
.syntaxhighlighter .line.alt2
{
  /*background-color: #F8F8F8 !important;*/
}

.syntaxhighlighter .toolbar
{
  background-color: #F8F8F8 !important;
  border: #E7E5DC solid 1px !important;
}

.syntaxhighlighter .toolbar a
{
  color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover
{
  color: red !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
  color: #000 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
  color: #008200 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
  color: blue !important; 
}

.syntaxhighlighter .keyword
{ 
  color: #069 !important; 
  font-weight: bold !important; 
}

.syntaxhighlighter .preprocessor 
{ 
  color: gray !important; 
}

.syntaxhighlighter .variable 
{ 
  color: #a70 !important; 
}

.syntaxhighlighter .value
{ 
  color: #090 !important; 
}

.syntaxhighlighter .functions
{ 
  color: #ff1493 !important; 
}

.syntaxhighlighter .constants
{ 
  color: #0066CC !important; 
}

.syntaxhighlighter .script
{ 
  background-color: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
  color: #808080 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
  color: #ff1493 !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
  color: red !important; 
}
