/**
 * AvatarUI-dashboard
 * @version	v2.0.1
 * @author	Rocky(296456018@qq.com)
 * @date	2013-04-25
 */

/*------ dashboard start ------*/
.dashboardWrap{ float:left; width: 350px; margin:5px; display:inline;}
.dashboard{ margin:5px 0; border:1px solid #ddd;}
.dashboard:hover{ border:1px solid #bbb;}

.dashboardTitle{ position: relative; height:28px; padding:0 10px; background:#f5f5f5; border-bottom:1px solid #eee; line-height:28px; font-weight:bold;}
.dashboardTitle .dashboardSet{ display: block; position: absolute; right:0; top:0; width:28px; height:28px; background:url(../images/report/set.png) no-repeat center center; border-left:1px solid #dedede;}
.dashboardTitle .dashboardSet:hover{ background:url(../images/report/set.png) no-repeat center center #eee; border-left:1px solid #ddd; }

.dashboard:hover .dashboardTitle{
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #e5e5e5);
  background-image:    -moz-linear-gradient(top, #f8f8f8, #e5e5e5);
  background-image:     -ms-linear-gradient(top, #f8f8f8, #e5e5e5);
  background-image:      -o-linear-gradient(top, #f8f8f8, #e5e5e5);
  background-image:         linear-gradient(to bottom, #f8f8f8, #e5e5e5);
  border-bottom:1px solid #dedede;
  cursor:move;
}
.dashboardCon{ padding:5px;}
.dashboardMove {position:absolute; z-index:10000;}
.dashboardMove .dashboard{ margin:3px 0;  border:3px solid #aaa; background:#fff; }

.dashboardGhost{ margin:5px 0; background:#E4FBEB; border:3px solid #91E391; font-size:16px; font-weight:bold; color:#91E391; border-radius:5px; text-align:center; }
.dashboardOrigin{ border:1px solid #fff;}
/*------ dashboard end ------*/