/**
 * AvatarUI-表格
 * @version	v2.0.1
 * @author	Rocky(296456018@qq.com)
 * @date	2013-04-25
 */

/*------ datagrid start ------*/
.dg{ display:none; position:relative; background:#EBF2F8; border:1px solid #c6daea; overflow:hidden;}
.dg .dgLoading{ display:none; position:absolute; top:0; left:0; background:#eee; filter:alpha(opacity=80); -moz-opacity:0.80; opacity:0.80; z-index:10000;}
.dg .dgLoadingCon{ position:absolute; top:50%; left:50%; width:150px; height:30px; margin:-30px 0 0 -75px; background:#fff; border:1px solid #c6daea; line-height:30px; text-align:center; color:#000;}
.dgFirstCol{ position:absolute; left:0; top:0; z-index:100;}
.dgFirstCol .tableHeader{ 
	height:30px;
	background-color:#ecf3fb;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ecf3fb),to(#d9e9f5));
	background-image:-webkit-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:-moz-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:-o-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:linear-gradient(to bottom,#ecf3fb,#d9e9f5);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ecf3fb,endColorStr=#d9e9f5);
	font-size:12px
}
.dgFirstCol .tableHeader td{ border-right:1px solid #c6daea; font-weight:bold; text-align:center;}
.dgFirstCol .tableHeaderColspan{ height:51px;}

.dgFirstCol .tableCon{ position:relative; overflow:hidden; border-top:1px solid #d6d6d6;}
.dgFirstCol .tableCon table{ position:absolute; top:-1px/9}
.dgFirstCol .tableCon td{ border-bottom:1px solid #c6daea; border-right:1px solid #c6daea; line-height:24px; text-align:center; }
.dgFirstCol .tableFooter{ display:none;}
.dgFirstCol .tableFooter td{ height:30px; background:#EBF2F8; border-top:1px solid #c6daea; border-right:1px solid #EFEFEF;}

.dg .dgResizeRight{ position:absolute; right:0; top:0; width:2px; cursor:e-resize;}
.dg .dgResizeRightBottom{ position:absolute; right:0; bottom:0; width:2px; height:2px; cursor:se-resize; line-height:0; font-size:0;}
.dg .dgResizeBottom{ position:absolute; left:0; bottom:0; width:100%; height:2px; cursor:s-resize; line-height:0; font-size:0;}

.dg .dgHeader{
	position:relative;
	height:30px;
	background-color:#ecf3fb;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ecf3fb),to(#d9e9f5));
	background-image:-webkit-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:-moz-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:-o-linear-gradient(top,#ecf3fb,#d9e9f5);
	background-image:linear-gradient(to bottom,#ecf3fb,#d9e9f5);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ecf3fb,endColorStr=#d9e9f5)
}
.dg .dgHeader .colResize div{ position:absolute; left:0; top:0; width:3px; height:30px; cursor:e-resize;}
.dg .colToggle{ display:none; position:absolute; border:1px solid #c6daea; width:80px; padding-left:10px; background:#f8f8f8; z-index:1;}
.dg .colToggle .colToggleItem{ line-height:24px;}
.dg .colToggle .colToggleItem input{ margin-right:3px; vertical-align:middle;}

.dg .dgHeader td{ height:30px; padding:0 4px; word-break:break-all; border-right:1px solid #c6daea; font-weight:bold;}
.dg .dgHeader td .dgHeaderTdDiv{ overflow:hidden;}

.dg .dgHeaderColspan{ height:50px;}
.dg .dgHeaderColspan td{ height:24px; line-height:24px;}
.dg .dgHeaderColspan td div{ height:24px;}
.dg .dgHeaderColspan .dgHeaderTd td{ font-weight:normal;}


.dg .dgHeader .sortable{ background:url(../images/sort_able.gif) right center no-repeat; cursor:pointer;}
.dg .dgHeader .sortabledesc{ background:url(../images/sort_desc.gif) right center no-repeat;}
.dg .dgHeader .sortableasc{ background:url(../images/sort_asc.gif) right center no-repeat;}

.dg .dgContent{ position:relative; overflow:auto; border-top:1px solid #c6daea; }
.dg .dgContentTable td{ padding:3px 0; border-right:1px solid #c6daea; border-bottom:1px solid #c6daea; line-height:18px;}
.dg .dgContentTable tr{ background:#fff;}

.dgFirstCol .tableCon tr{ background:#fff;}
.dg tr.trOdd, .dgFirstCol .tableCon tr.trOdd{ background:#F9F9F9;}
.dg tr.trHover, .dgFirstCol .tableCon tr.trHover{ background:#FEFACC;}
.dg tr.trClick, .dgFirstCol .tableCon tr.trClick{ background:#d0e4f9;}

.dg .dgContent td div.dgContentInnerDiv{ height:18px; padding:0 4px; word-break:break-all; overflow:hidden; word-wrap:break-word;}
.dg .dgContent td div.auto{ height:auto;}

.dg .dgFooter{ display:none; height:30px; padding:0 5px; background:#EBF2F8; border-top:1px solid #c6daea; line-height:30px;}
.dg .dgFooter .pageNow{ width:30px;}
.dg .dgFooter .dgPage{ float:left; _padding-top:4px; _line-height:14px;}
.dg .dgFooter .dgPage span{ display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:16px; height:16px; padding:3px;}
.dg .dgFooter .dgPage span.hover{ background:url(../images/bar-button-over.gif);}
.dg .dgFooter .dgPage span a{ display:block; width:16px; height:16px; line-height:16px; text-indent:-9999px; overflow:hidden;}

.dg .dgFooter .pageFirst{ background:url(../images/icon-first.gif) 0 -16px; cursor:default;}
.dg .dgFooter .pageFirstAble{ background:url(../images/icon-first.gif); cursor:pointer;}
.dg .dgFooter .pagePrev{ background:url(../images/icon-prev.gif) 0 -16px; cursor:default;}
.dg .dgFooter .pagePrevAble{ background:url(../images/icon-prev.gif); cursor:pointer;}
.dg .dgFooter .pageNext{ background:url(../images/icon-next.gif) 0 -16px; cursor:default;}
.dg .dgFooter .pageNextAble{ background:url(../images/icon-next.gif); cursor:pointer;}
.dg .dgFooter .pageLast{ background:url(../images/icon-last.gif) 0 -16px; cursor:default;}
.dg .dgFooter .pageLastAble{ background:url(../images/icon-last.gif); cursor:pointer;}
.dg .dgFooter .pageGoBtn{ text-decoration:underline; color:#333;}

.dg .dgFooter .dgPageStatus{ float:right;}
.dg .resizeHover{ background:#aaa;}


.dg .dgContentTable td.red{ background:#DB4F4A;}
.dg .dgContentTable td.orange{ background:#FBEA71;}
.dg .dgContentTable td.green{ background:#81CE81;}
.dg .dgContentTable td.blue{ background:#4572A7;}
/*------ datagrid end ------*/