/**
 * AvatarUI-内容选择
 * @version	v2.0.1
 * @author	Rocky(296456018@qq.com)
 * @date	2013-04-25
 */

/*------ 内容选择组件 start ------*/
.pickerItemWrap .pickerItem{ float:left; margin:3px 5px; display:inline;}
.pickerItemWrapTree{ margin:3px 0 0 5px;}
.pickerItemWrapTree .pickerItem{ clear:both; margin-bottom:6px; display:inline;}

.pickerItemMove{ position:absolute; margin-left:0;}

.pickerItem .pickerItemCon, .pickerItemMove .pickerItemCon{ float:left; width:200px; height:26px; border-radius:3px;}
.pickerItem .pickerItemDrag{ float:left; width:6px; height:14px; padding:6px 5px; background:url(../images/list_drag.gif) center center no-repeat; cursor:move; }
.pickerItemMove .pickerItemDrag{ float:left; width:8px; height:14px; cursor:pointer;}
.pickerItem .pickerItemTitle{ background:url(../images/menu_down_light.gif) right center no-repeat; }
.pickerItem .pickerItemTitle, .pickerItemMove .pickerItemTitle{ float:left; width:180px; line-height:26px; font-size:14px; color:#fff; font-weight:bold; cursor:pointer;}

.pickerItemGreen .pickerItemCon, .pickerItemMoveGreen .pickerItemCon{ background:#9DB675; border:1px solid #6B7D4B;}
.pickerItemBlue .pickerItemCon, .pickerItemMoveBlue .pickerItemCon{ background:#8FACFC; border:1px solid #51649E;}


.pickerItem .pickerItemClose{ float:left; width:12px; height:12px; margin:8px 0 0 3px; display:inline; background:url(../images/close.gif); border-radius:6px; line-height:12px; font-size:8px; color:#fff; text-align:center;}
.pickerItem .pickerItemClose:hover{ background:url(../images/close_hover.gif); color:#fff; text-decoration:none;}

.pickerItemWrap .addPickerItem, .pickerItemWrapTree .addPickerItem{ float:left; width:200px; height:26px; margin:3px 5px; display:inline; border:1px dashed;  border-radius:3px; line-height:26px;  font-size:14px; font-weight:bold; text-align:center; cursor:pointer; }

.pickerItemWrapGreen .addPickerItem{ background:#F4FFE6; color:#93AC6B;}
.pickerItemWrapBlue .addPickerItem{ background:#F2F6FF; color:#7B98E8;}


.pickerItemWrapTree .addPickerItem{ clear:both; float:none; display:block; margin:0;}

.picker{ display:none; position:absolute; top:200px; left:300px; width:210px; height:270px; padding:3px; background:#F7F7F7; border:2px solid #B0B0B0; }
.picker .searchInput{ width:200px; height:23px; padding:0 3px; background:url(../images/search.png) right center no-repeat #fff; border:1px solid #ddd; border-color:#A3A3A3 #CCCCCC #CCCCCC #A3A3A3; line-height:22px;}
.picker .pickerCon{ height:200px; overflow:auto; }

.picker .pickerCon a.title{ display:block; line-height:24px; font-weight:bold; font-size:14px; color:#333; }
.picker .pickerCon a.title:hover{ color:#333; text-decoration:none;}
.picker .pickerCon a.title:focus{ outline:none;}

.picker .pickerCon a.title .arrow{ float:left; width:4px; height:7px; margin:10px 5px 3px 0; display:inline; background:url(../images/arrow_right.gif);}
.picker .pickerCon a.title .arrowDown{ width:9px; height:5px; background:url(../images/arrow_down.gif);}

.picker .pickerCon ul{ padding:0 10px;}
.picker .pickerCon ul li{ margin:1px 0; font-weight:bold;}

.picker .pickerInsideCon{ display:none;}
.picker .pickerInsideCon a{ display:block; padding:3px; line-height:16px;}
.picker .pickerInsideCon a:hover{ text-decoration:none; color:#fff; }
.picker .pickerBot{ height:30px; margin-top:5px; padding-left:10px; border-top:1px solid #ACACAE; line-height:30px; color:#5d5d5d;}

.pickerThemeGreen .pickerInsideCon a{ background:#DAE2CB; border:1px solid #738D68; color:#738D68;}
.pickerThemeGreen .pickerInsideCon a:hover{ background:#9BB47A; color:#fff; }

.pickerThemeBlue .pickerInsideCon a{  background:#C5DCFE; border:1px solid #2F67B4; color:#2F67B4;}
.pickerThemeBlue .pickerInsideCon a:hover{ background:#6FAEFD; border:1px solid #2F67B4;}
/*------ 内容选择组件 end ------*/